<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sesame Production API</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="login">
            <h1>Predict Sesame Seed Production</h1>

            <form action="{{url_for('predict')}}" method="POST">
                <input type="text" name="Area Cultivated" placeholder="Area Cultivated" required="required" />
                <input type="text" name="Yield" placeholder="Yield Expected" required="required" />

                <button type="submit" class="btn btn-primary btn-block btn large">Predict</button>
            </form>
            <br>
            <br>
            {{prediction_text}}
        </div>
    </body>
</html>